
    <div class="row">
        <div class="col-md-6">
          <div *ngIf="responseMessage">
            <ul id="accordion" class="accordion">
              <li *ngFor="let subMenu of responseMessage.message.menus; let i = index" [class.active]="subMenu.active">
                <div class="menu" (click)="toggle(i)">
                  {{ subMenu.key }}
                  <i class="fa fa-chevron-down"></i>
                </div>
                <ul class="submenu" #submenu [style.height.px]="subMenu.active ? submenu.scrollHeight : 0">
                  <li *ngFor="let submenu of subMenu.items">
                    <a (click)="openMenu(submenu)">{{ submenu.name }}</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
      
        </div>
        <div class="col-md-6">
      
          <div *ngIf="menuList">
            <ul id="accordion" class="accordion">
              <li *ngFor="let menu of menuList;">
                <div class="menu">
                  <a [routerLink]="['/content', menu]" >{{menu.name}}</a>
                </div>
              </li>
            </ul>
          </div>
      
        </div>
      </div>